* {
  padding:0;
  margin:0;
}

/* General */

body {
  font-family:Helvetica;
  font-size:22px;
  color:Seashell;
  background-color:black;
  opacity:0.9;
  text-align:center;
}

main {
  display:flex;
  align-items:center;
  flex-direction:column;
  position:relative;
  top:70px;
}

/* Header */

header {
  height:69px;
  width:100%;
  border-bottom:1px solid seashell;
  position:fixed;
  background-color:black;
  z-index:1;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-left:10px;
}

nav ul li,
nav ul li a {
  list-style-type:none;
  color:Seashell;
  display:inline;
}

nav ul li a {
  margin-right:20px;
}

/* Mission */

.mission {
  background-image:url("../Pics/img-mission-background.jpg");
  width:1200px;
  height:700px;
  display:flex;
  align-items:center;
}

.mission-bar {
  width:1200px;
  background-color:black;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.mission-bar-item {
  padding:10px 0;
}

/* Tea */

.tea {
  display:flex;
  margin:70px 0;
  width:1000px;
  flex-direction:column;
  align-items:center;
}

.tea-bar {
  width:1000px;
  background-color:black;
  display:flex;
  flex-direction:column;
  vertical-align:
}

.tea-bar-item {
  padding:10px 0;
}

/* Tea Types */

.tea-types {
  display:flex;
  flex-flow:row wrap;
  width:1000px;
  justify-content:center;
}

.tea-type-box {
  margin-top: 20px;
  padding:0 15px;
}

.tea-type-text {
  margin-top:10px;
}

/* Locations */

.locations {
  width:1200px;
  height:575px;
  background-image:url("../Pics/img-locations-background.jpg");
  display:flex;
  justify-content:center;
  align-items:Center;
}

.location-box {
  opacity:1.0;
  display:inline-flex;
  width:300px;
  height:260px;
  background-color:black;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:space-around;
  margin:0 20px;
}

/* Contact */

.contact {
  width:100%;
  height:200px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
